.container {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  border: 2px solid black;
}

.container > div {
  aspect-ratio: 1;
  /* background: repeating-linear-gradient(
    90deg,
    red 10%,
    transparent
  ), linear-gradient(
    yellow,
    white
  ); */
}

.mode {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}